@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Custom utility layer */
@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }

  /* Firefox */
  .no-spinner {
    @apply [appearance:textfield];
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Roboto, sans-serif;
}
